<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item1</h2>
        <!-- <span class="icon-container">
            <svg class="icon icon--primary">
                <use xlink:href="Images/sprite.svg#chevron"></use>
              </svg>
          </span>  -->
          <!-- <span class="icon-container"> -->
            <img src="Images/chevron.svg" alt="chevron" class="icon collapsible__chevron">
        <!-- </span> -->
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Commodi placeat ad consequuntur id accusantium aut quas omnis odio error consequatur!
    </div>
   </div>

   <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item1</h2>
        <!-- <span class="icon-container">
            <svg class="icon icon--primary">
                <use xlink:href="Images/sprite.svg#chevron"></use>
              </svg>
          </span>  -->
          <!-- <span class="icon-container"> -->
            <img src="Images/chevron.svg" alt="chevron" class="icon collapsible__chevron">
        <!-- </span> -->
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Commodi placeat ad consequuntur id accusantium aut quas omnis odio error consequatur!
    </div>
   </div>
   <script src="js/main.js"></script>