<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
        <img src="Images/ipad.png" alt="" class="block-showcase__image">
       <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                            <span class="icon-container">
                                <svg class="icon icon--primary">
                                  <use xlink:href="Images/sprite.svg#snap"></use>
                                </svg>
                            </span>
                            <!-- <span class="icon--primary"><img src="Images/snap.svg" alt=""></span> -->
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Managed Updates</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima excepturi 
                            deserunt a iste doloremque cum labore optio voluptatem minus quod?</p>
                    </div>
                 </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary">
                              <use xlink:href="Images/sprite.svg#growth"></use>
                            </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Staging, GIT & WP-CLI</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima excepturi 
                            deserunt a iste doloremque cum labore optio voluptatem minus quod?</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary">
                              <use xlink:href="Images/sprite.svg#wordpress"></use>
                            </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Dynamic Caching & More</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima excepturi 
                            deserunt a iste doloremque cum labore optio voluptatem minus quod?</p>
                    </div>
                </div>
            </li>
       </ul>
    </div>
</section>